<footer class="w-full custom-bg">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between flex-col py-14 gap-14 lg:gap-20 min-[1124px]:flex-row">
            <div class="block xl:max-w-lg">
                <a href="#Top" class="flex justify-center min-[1124px]:justify-start mb-8">
                    <img src="{{ asset('asset/favicon/favicon-96x96.png') }}" alt="Logo BDS" class="mr-3 h-full">
                </a>
                <p class="text-lg text-white mb-12 text-center min-[1124px]:text-left">Nous sommes une association étudiante dynamique, le Bureau des Sports (BDS), dédiée à promouvoir la pratique sportive et à organiser des événements fun et conviviaux pour tous les étudiants.</p>
                <div class="relative lg:flex-row gap-3 flex-col flex items-center justify-between max-[1124px]:max-w-2xl max-[1124px]:mx-auto ">
                    <span class="absolute left-5 top-4 lg:top-5">
                        <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.25201 4L7.15881 7.89529C9.26862 9.16117 10.3235 9.79412 11.4825 9.76654C12.6416 9.73896 13.6652 9.05656 15.7124 7.69175L20.748 4M9 17H13C16.7712 17 18.6569 17 19.8284 15.8284C21 14.6569 21 12.7712 21 9C21 5.22876 21 3.34315 19.8284 2.17157C18.6569 1 16.7712 1 13 1H9C5.22876 1 3.34315 1 2.17157 2.17157C1 3.34315 1 5.22876 1 9C1 12.7712 1 14.6569 2.17157 15.8284C3.34315 17 5.22876 17 9 17Z" stroke="#4F46E5" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </span>
                    <input type="text" name="email" class="py-3 px-5 h-14 pl-14 border border-gray-300 rounded-full text-lg text-white placeholder:text-white focus:outline-none flex-1 w-full" placeholder="Newletter"/>
                    <button type="submit" class="h-14 py-3.5 px-7 bg-indigo-600 transition-all duration-500 shadow-md rounded-full text-white font-semibold hover:bg-indigo-700">Subscribe</button>
                </div>
            </div>
            <div class="flex flex-col items-center sm:items-start min-[530px]:flex-row max-[1124px]:w-full max-[1124px]:justify-between gap-12 xl:gap-24 max-[1124px]:max-w-2xl max-[1124px]:mx-auto">
                <div class="block">
                    <h4 class="text-lg text-white font-medium mb-7 text-center lg:text-left">Products</h4>
                    <ul class="grid gap-6 text-center lg:text-left">
                        <li><a href="javascript:;" class="text-white">Vêtements</a></li>
                        <li><a href="javascript:;" class="text-white">Accessoires</a></li>
                        <li><a href="javascript:;" class="text-white">Sport</a></li>
                        <li><a href="javascript:;" class="text-white">Papeterie</a></li>
                        <li><a href="javascript:;" class="text-white">Goodies</a></li>
                        <li><a href="javascript:;" class="text-white">Bagagerie</a></li>
                        <li><a href="javascript:;" class="text-white">Tech</a></li>
                    </ul>
                </div>
                <div class="block">
                    <h4 class="text-lg text-white font-medium mb-7 text-center lg:text-left">Account</h4>
                    <ul class="grid gap-6 text-center lg:text-left">
                        <li class="text-white">Login / Register</li>
                        <li><a href="/account" class="text-white">My Account</a></li>
                    </ul>
                </div>
                <div class="block">
                    <h4 class="text-lg text-white font-medium mb-7 text-center lg:text-left">Information</h4>
                    <ul class="grid gap-6 text-center lg:text-left">
                        <li><a href="javascript:;" class="text-white">FAQ</a></li>
                        <li><a href="javascript:;" class="text-white">Evènements à venir</a></li>
                        <li><a href="javascript:;" class="text-white">Tournois et compétitions</a></li>
                    </ul>
                </div>
                <div class="block">
                    <h4 class="text-lg text-white font-medium mb-7 text-center lg:text-left">RYC-BDS</h4>
                    <ul class="grid gap-6 text-center lg:text-left">
                        <li><a href="/about" class="text-white">About Us</a></li>
                        <li><a href="/contact" class="text-white">Contact Us</a></li>
                        <li><a href="javascript:;" class="text-white">Mentions légales</a></li>
                        <li><a href="javascript:;" class="text-white">Conditions générales de vente (CGV)</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="py-9 border-t border-gray-200">
            <div class="flex items-center justify-center flex-col gap-8 lg:gap-0 sm:flex-row sm:justify-between">
                <span class="text-sm text-white">©RYC-BDS 2025, All rights reserved.</span>
                <div class="flex space-x-6 sm:justify-center">
                    <a href="javascript:;" class="group flex justify-center items-center">
                        <a href=https://www.instagram.com/bdsynovrennes/  target="_blank"><i class="fa-brands fa-instagram text-white"></i></a>
                    </a>
                    <a href="javascript:;" class="group flex justify-center items-center">
                       <a href=https://discord.gg/Gxtug9EQq7  target="_blank"><i class="fa-brands fa-discord text-white"></i></a>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>