<header id="Top" class="h-32">
    <nav class="h-32 custom-bg border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800 flex items-center">
        <div class="flex justify-between items-center mx-auto max-w-screen-xl w-full relative">
            <!-- Bouton menu burger (Mobile uniquement) -->
            <button id="menu-toggle" class="lg:hidden p-2 text-white rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                </svg>
            </button>

            <!-- Logo centré sur mobile, aligné à gauche sur PC -->
            <a href="/#Top" class="flex items-center justify-center lg:static lg:left-0 lg:pl-4">
                <img src="/assets/asset/favicon/favicon-96x96-YjxaJBb.png" class="h-full max-w-full" alt="BDS RYC Logo">
            </a>

            <!-- Liens au centre sur PC -->
            <div class="hidden lg:flex lg:items-center lg:justify-center lg:space-x-8 lg:order-1">
                <ul class="flex space-x-8">
                    <li><a href="#" class="text-white text-lg hover:text-gray-300">About Us</a></li>
                    <li><a href="/articles/" class="text-white text-lg hover:text-gray-300">Shop</a></li>
                    <li><a href="#" class="text-white text-lg hover:text-gray-300">Activity</a></li>
                    <li><a href="#" class="text-white text-lg hover:text-gray-300">FAQ</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('app_articles_new') }}" class="text-white text-lg hover:text-gray-300">Ajouter un article</a></li>
                    {% endif %}
                </ul>
            </div>

            <!-- Icônes utilisateur & panier à droite -->
            <div class="flex items-center lg:order-2">
                {% if app.user %}
                    <a href="{{ path('app_account') }}" class="text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-lg lg:text-2xl px-4 lg:px-5 py-2 lg:py-3 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
                        <i class="fa-regular fa-user"></i>
                    </a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-lg lg:text-2xl px-4 lg:px-5 py-2 lg:py-3 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
                        <i class="fa-regular fa-user"></i>
                    </a>
                {% endif %}
                <a href="/cart" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-lg lg:text-2xl px-4 lg:px-5 py-2 lg:py-3 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>

            <!-- Menu mobile -->
            <div id="mobile-menu" class="fixed top-0 left-0 h-full w-64 bg-gray-800 text-white transform -translate-x-full transition-transform duration-300 lg:hidden z-50">
                <button id="close-menu" class="absolute top-4 right-4 text-white">
                    <i class="fa-solid fa-xmark text-2xl"></i>
                </button>
                <ul class="flex flex-col mt-16 space-y-4 px-6">
                    <li><a href="#" class="block py-2 text-lg">About Us</a></li>
                    <li><a href="/articles/" class="block py-2 text-lg">Shop</a></li>
                    <li><a href="#" class="block py-2 text-lg">Activity</a></li>
                    <li><a href="#" class="block py-2 text-lg">FAQ</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('app_articles_new') }}" class="block py-2 text-lg">Ajouter un article</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<script>
    document.getElementById("menu-toggle").addEventListener("click", function() {
        document.getElementById("mobile-menu").classList.remove("-translate-x-full");
    });

    document.getElementById("close-menu").addEventListener("click", function() {
        document.getElementById("mobile-menu").classList.add("-translate-x-full");
    });
</script>
