<body>
    <header id="header">
        <pannier></pannier>
        <a href="/" id="partiel">
            <h1>Loremipsum</h1>
            <logo><img src="{{ asset('asset/logo.png') }}" alt="Logo de Loremipsum"></logo>
        </a>
    </header>
</body>