{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>Bienvenue sur le Dashboard !</h1>
    <p>Vous êtes connecté.</p>
    <a href="/logout">Se déconnecter</a>
{% endblock %}
