{% extends 'base.html.twig' %}

{% block title %}Paiement Annulé{% endblock %}

{% block body %}
    <div class="container text-center mt-5">
        <h1 class="text-danger">❌ Paiement Annulé</h1>
        <p>Votre paiement a été annulé. Vous pouvez réessayer ou modifier votre panier.</p>
        <a href="{{ path('checkout_page') }}" class="btn btn-warning mt-3">Retour au panier</a>
    </div>
{% endblock %}